<p>addexersise works!</p>
<form class="form-inalain">

    <form class="form-inline" name="myForm">

        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
                <svg xmlns="http://www.w3.org/2000/svg" (click)="addSelect()" width="16" height="16" fill="currentColor"
                    class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path
                        d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z">
                    </path>
                </svg>
            </span>
            <select class="form-select mb-2 button-alert" [(ngModel)]="exersise.exersise" (change)="selectedForm(exersise.exersise)" name="exersise">
                <option value=""  selected>Choise...</option>
                <option  *ngFor="let exerName of exersiseName">{{exerName.exersise}}  </option>
            </select>
        </div>

    </form>
    <div class="d-grid gap-2" *ngIf="addSelection">
        <input type="input-group-text" class="form-control" [(ngModel)]="addexersiseName.exersise"
            name="exersiseName" />
        <button class="btn btn-primary" type="button" (click)='addExersiseName()'>ADD EXERSISE</button>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Дата</label>
        <input type="date" class="form-control" [(ngModel)]="exersise.date" name="date">

    </div>
    <div class="row">
        <div class="col">
            <div class="input-group-prepend">
                <div class="input-group-text">Первый подход  {{lastTimeexersise.firstApproach}}</div>
            </div>
            <input type="number" class="form-control" placeholder="Last name" [(ngModel)]="exersise.firstApproach"
                name="firstApproach">
        </div>
        <div class="col">
            <div class="input-group-prepend">
                <div class="input-group-text">Вес {{lastTimeexersise.firstWeight}} кг</div>
            </div>
            <input type="number" class="form-control" [(ngModel)]="exersise.firstWeight" name="firstWeight">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-group-prepend">
                <div class="input-group-text">Второй подход {{lastTimeexersise.secondApproach}} </div>
            </div>
            <input type="number" class="form-control" [(ngModel)]="exersise.secondApproach" name="secondApproach">
        </div>
        <div class="col">
            <div class="input-group-prepend">
                <div class="input-group-text">Вес {{lastTimeexersise.secondWeight}} кг</div>
            </div>
            <input type="number" class="form-control" [(ngModel)]="exersise.secondWeight" name="secondWeight">
        </div>
    </div>
    <div class="row">

        <div class="col">
            <div class="input-group-prepend">
                <div class="input-group-text">Третий подход {{lastTimeexersise.thirdtApproach}}</div>
            </div>
            <input type="number" class="form-control" [(ngModel)]="exersise.thirdtApproach" name="thirdtApproach">
        </div>
        <div class="col">
            <div class="input-group-prepend">
                <div class="input-group-text">Вес {{lastTimeexersise.thirdtweight}} кг</div>
            </div>
            <input type="number" class="form-control" [(ngModel)]="exersise.thirdtweight" name="thirdtweight">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-group-prepend">
                <div class="input-group-text">Четвёртый подход {{lastTimeexersise.fourthtApproach}}</div>
            </div>
            <input type="number" class="form-control" [(ngModel)]="exersise.fourthtApproach" name="fourthtApproach">
        </div>
        <div class="col">
            <div class="input-group-prepend">
                <div class="input-group-text">Вес {{lastTimeexersise.fourthtweight}} кг</div>
            </div>
            <input type="number" class="form-control" [(ngModel)]="exersise.fourthtweight" name="fourthtweight">
        </div>
    </div>

    <button type="submit" class="btn btn-primary" (click)="saveExersise()">Submit</button>
    <button type="button" class="btn btn-secondary" (click)="change()" data-bs-dismiss="modal">Close</button>
</form>